.body-editCourse {
    // font-family: Arial, Helvetica;
    background-color: rgb(246, 247, 251);
    font-family: hurme_no2-webfont, -apple-system, BlinkMacSystemFont, sans-serif;
    color: rgb(46, 56, 86);
}

.container-EditCourse {
    margin-top: 20px;
    max-width: 1240px !important;

    .CreateSetHeader {
        display: flex;
        flex-direction: column;
        .CreateSetHeader-btnBack{
            cursor: pointer;
            .icon-angle-left{
                color: #3ccfcf;
            }
            .CreateSetHeader-backText{
                color: #2e3856;
                font-size: 14px;
                font-weight: 600;
            }
        }

        .CreateSetHeader-heading {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            .CreateSetHeader-headingText {
                font-weight: 750;

            }

            .CreateSetHeader-btnOptionCourse {
                padding-top: 7px;
                padding-bottom: 7px;
                width: fit-content;
                height: fit-content;
                font-weight: 600;
            }

            .CreateSetHeader-permissions {
                font-size: 15px;
                margin-right: 5px;
                color: #586380;
                border: 1px solid #d2c8c8;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;

                &:hover {
                    transition: 0.2s;
                    background-color: #e0e2e9;
                }
            }

            .CreateSetHeader-modalPermissions {
                #permissionModalLongTitle {
                    font-weight: bold;
                }

                .modal-bodyPermission {
                    display: flex;
                    justify-content: space-around;
                    padding: 25px 16px 35px 16px;

                    .custom-select {
                        border: 0.125rem solid #d9dde8;
                        border-radius: 0.25rem;
                        // color: #3ccfcf;
                        display: inline-block;
                        max-width: 100%;
                        overflow: hidden;
                        padding: 0.375rem 1.75rem 0.375rem 0.75rem;
                        position: relative;
                        vertical-align: middle;
                        width: auto;
                    }

                    .labelSelectPermission {
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: .0625rem;
                        line-height: 1.333333333333333;
                        color: #2e3856;
                    }

                    .modal-body__viewPermission {
                        display: flex !important;
                        flex-direction: column !important;
                    }

                    .modal-body__editPermission {
                        display: flex !important;
                        flex-direction: column !important;

                        .modal-body__passwordEditPermission {
                            display: none;
                        }

                        .modal-body__passwordEditPermission--display {
                            display: block;
                        }
                    }
                }

                .modal-footer__Permission {
                    .btn-savePermission--noneDisplay {}
                }
            }
        }

        .CreateSetHeader-TitleCourse {


            .CreateSetHeader-title {
                width: 50%;
            }

            .CreateSetHeader-description {
                width: 50%;
            }
        }

    }

    .CreateSetPage-content {
        .CreateSetPage-termRowWrap {
            background-color: white;
            border-radius: 10px;
            padding: 30px;
            margin-bottom: 20px;

            .TermContent-AddRow {
                display: flex;
                justify-content: center;
                margin-top: 15px;
                margin-bottom: 15px;

                .TermContent-addRowButton {
                    border: none;
                    background-color: white;
                    border-bottom: 0.3rem solid #3ccfcf;
                    font-size: 18px;
                    font-weight: 700;
                    padding: 0px;
                    padding-bottom: 2px;
                    outline: none;
                    cursor: pointer;

                    &:hover {
                        color: #ffcd1f;
                        transition: .3s !important;
                        border-bottom: 0.3rem solid #ffcd1f;
                    }
                }
            }

            .TermToolbar-counter {
                color: rgb(147, 155, 180);
                font-weight: 600;
                cursor: move;
            }

            .TermToolbar {
                display: flex;
                justify-content: space-between;
                border-bottom: 0.13rem solid rgb(246, 247, 251) !important;
                padding-bottom: 10px;

                .TermToolbar-option {
                    display: flex;

                    .TermToolbar-option__dragToggle {
                        cursor: move;

                        &:hover {
                            color: #ffcd1f;
                            transition: .3s !important;
                        }
                    }

                    .TermToolbar-option__delete {
                        &:hover {
                            color: #ffcd1f;
                            transition: .3s !important;
                        }
                    }
                }
            }

            .TermContent-inner {
                display: flex;
                justify-content: space-between;

                .AutoExpandTextarea-textarea {
                    background-color: white !important;
                }

                .TermContent-inner-word {
                    width: 46%;
                }

                .TermContent-inner-definition {
                    width: 50%;

                    .DefinitionSide {
                        display: flex;
                        justify-content: space-between;

                        .DefinitionSide-text {
                            width: 77%;
                        }

                        .DefinitionSide-image {
                            height: fit-content;
                            border-radius: 5px;
                            border: 3px dashed #d9dde8;
                            padding: 5px 15px 5px 15px;

                            .ImageUploadComponent {
                                .imgUploadIcon {
                                    height: fit-content;
                                    text-align: center;

                                    &:hover {
                                        color: #ffcd1f;
                                    }
                                }

                                .imgUploadContext {
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }

            .TermImage-inner {
                display: none;
            }

            .TermImageShow-inner {
                transition: 3s !important;
                border-top: 0.13rem solid #f6f7fb !important;
                padding-bottom: 10px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .imageTermSelected {
                    margin-top: 8px;
                    width: 10%;
                }

                .TermImage-option__delete {
                    &:hover {
                        color: #ffcd1f;
                        transition: .3s !important;
                    }
                }
            }
        }

        .CreateSetPage-footer {
            display: flex;
            justify-content: end;
            margin-bottom: 20px;

            .btn-footer-editCourse {
                padding: 20px 30px 20px 30px;
                border-radius: 10px;
                color: white;
                font-weight: 600;
                background-color: #4255ff;
            }
        }
    }
}