body {
    // font-family: Arial, Helvetica;
    background-color: rgb(246, 247, 251);
    font-family: hurme_no2-webfont, -apple-system, BlinkMacSystemFont, sans-serif;
    color: rgb(46, 56, 86);
}

.DropdownCreateOption--nonePadding-Background {
    padding: 0px !important;
    padding-left: 10px !important;

    &:active {
        background-color: #f8f9fa !important;
    }
}

.DropdownCreate-Modal-title {
    font-weight: 600;
}

.DropdownCreate-modal {
    .AutoExpandTextarea-textarea {
        border-radius: 10px !important;
        border-bottom: 0 !important;
        padding: 10px !important;

        &:focus {
            border-bottom: 0.17rem solid black !important;
            transition: 0s !important;
        }
    }
}

.pointer-btn {
    cursor: pointer;
}

.fontNavigationItem {
    font-size: 15px;
    color: #282e3e;
    font-weight: 600;
}


.bg-white {
    background-color: white;
}

.width100 {
    width: 100%;
}

.centerEle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.TopNavigationWrapper {
    background-color: white;

    .TopNavigation {
        padding: 20px;

        .TopNavigation-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;


            .TopNavigation-contentLeft {
                display: flex;
                justify-content: space-around;

                .LogoNavigationItem {
                    width: 100px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                .TopNavigation-leftItem {
                    display: flex;
                    padding-top: 5px;
                    padding-left: 3%;

                    .leftItem-home {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        color: black;
                        text-decoration: none;
                        cursor: pointer;
                        margin-right: 20px;
                    }

                    .leftItem-dropdownTopic {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-right: 20px;

                        .btn-whiteColor {
                            padding: 0;
                            border: none;
                            color: black;
                            background-color: white !important;
                        }

                    }
                }

            }

            .TopNavigation-contentMiddle {
                width: 50%;

                .ctMiddle-searchForm {
                    width: 100% !important;
                    border: 0.078125rem solid #edeff4;
                    border-radius: 4.75rem;
                    outline: none;
                    box-shadow: none;
                    background-color: rgb(246, 247, 251);
                    color: rgb(40, 46, 62);

                    &:focus {
                        border: 0.078125rem solid #939bb4;
                        ;
                    }

                    &::placeholder {
                        // color: rgb(40, 46, 62);
                        font-weight: 600;
                        font-size: 14px;
                    }
                }
            }

            .TopNavigation-contentRight {
                display: flex;
                // justify-content: space-between;
                justify-content: center;

                .rightItem-dropdownButtonBaseUser {
                    margin-right: 10px;
                    border: none;

                    .TopNavigation-DropdownCreateOption {
                        .DropdownCreateOption-btnOption {
                            background-color: white !important;
                            color: rgb(88, 99, 128) !important;
                            border: none !important;
                            padding: 10px 0px 10px 10px !important;
                            outline: none !important;
                            box-shadow: none !important;

                            &:hover {
                                background-color: #f8f9fa !important;
                                transition: all 0s;
                            }
                        }
                    }

                    .baseFunUser {
                        border: none;
                        background-color: #4255ff;
                        border-radius: 50%;
                        height: 2.5rem;
                        padding: 0.5rem;
                        width: 2.5rem;
                        outline: none !important;
                        box-shadow: none !important;

                        .baseFunUser-icon {
                            color: white;
                            width: 24px;
                            height: 24px;
                        }
                    }

                    .baseManageInforUser {
                        border: 1px solid rgb(223, 220, 220);
                        border-radius: 50%;
                        height: 2.5rem;
                        padding: 0.5rem;
                        width: 2.5rem;
                        outline: none !important;
                        box-shadow: none !important;

                        background-image: url("../images/84628273_176159830277856_972693363922829312_n.jpg") !important;
                        background-size: cover;
                        /* Adjust the image size to cover the button */
                        background-position: center;
                        /* Center the image within the button */
                        /* Additional styles to customize the button appearance */
                        border: none;
                        color: white;
                        font-size: 16px;
                    }

                    .dropdown-item-nameandavatar {

                        .setPageHeader {
                            padding: 10px 10px 10px 0px;
                            padding-bottom: 7px;

                            .setPageHeader-createdBy {
                                padding-right: 0px;

                                .createdBy-nickName {
                                    font-weight: 600 !important;
                                    font-size: 14px;
                                }

                                .createddBy-author {
                                    font-weight: 500 !important;
                                    color: #939bb4 !important;
                                    font-size: 12px;
                                }
                            }
                        }
                    }

                    .dropdown-item__underline {
                        border-bottom: 0.13rem solid #e8ebf9 !important;
                    }

                    .dropdown-menu__nonePadding {
                        padding: 0px;
                    }
                }

                .rightItem-loginButton {
                    margin-right: 10px;
                    border: none;

                }

                .rightItem-registerButton {
                    margin-right: 10px;
                    border: none;
                }
            }
        }
    }
}

.site {

    .page {
        margin-bottom: 20px;

        .DashboardLayout {
            margin-top: 20px;
            display: flex;

            .dash-series {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}

.setCard-content {
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem 0 #2e385614;
    border-bottom: 0.3125rem solid #fff0;
    transition: all .12s cubic-bezier(.47, 0, .745, .715);

    &:hover {
        border-bottom-color: #dbdfff // border-bottom: 0.3125rem solid #fff0;
    }

    .setCard {
        .setCard-text {
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            .setCard-text__header {
                .setCard__title-course {
                    font-weight: 600;
                    color: #2e3856;
                }

                .setCard__numOfTerms {
                    font-size: 0.9rem;
                    color: #586380;
                    font-weight: 550;
                }
            }

            .setCard-text__footer {
                margin-top: 40px;
                display: flex;
                width: 100%;
                align-items: center;

                .setCard__userAvatar {
                    width: 21.94px;
                    height: 21.94px;
                    margin-right: 10px;

                    img {
                        border-radius: 50%;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .setCard__username {
                    a {
                        text-decoration: none;
                        color: black;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

/* Căn giữa các phần tử trong .td-content */
.td-wrap{
    vertical-align: middle !important;
}
.td-content {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 550;
}

.td-content abbr {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-decoration: none;
}

/* Đảm bảo img không bị che khuất bởi abbr */
.td-content img {
    position: relative;
    z-index: 1;
}

.th--align-center {
    text-align: center !important;
}