<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap-4.0.0/bootstrap-4.0.0/dist/css/bootstrap.css">    
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="body-course">
    <main class="container main-course pt-4">
        <div class="row">
            <div class="col-9 main-course__content">
                <div class="learn-card">
                    <div class="learn-card__title">
                        <h1 style="word-break: break-word;
                        font-weight: 650;
                        font-size: 2rem;
                        letter-spacing: normal;
                        line-height: 1.25;">
                            04/08/2022-Vocabulary (P1)
                        </h1>
                    </div>

                    <div class="learn-card__learn-func">
                        <button type="button" class="btn btn-primary mr-3">primary</button>
                        <button type="button" class="btn btn-primary mr-3">primary</button>
                        <button type="button" class="btn btn-primary mr-3">primary</button>
                    </div>

                    <div class="learn-card__current-card">
                        <div class="card" onclick="this.classList.toggle('flipped')">
                            <div class="card-inner">
                                <div class="card-front">
                                    <h2>HTML</h2>
                                </div>
                                <div class="card-back">
                                    <p>HyperText Markup Language</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="learn-card__interact-card">
                        <div class="interact-card__left d-flex p">
                            <div class="btn-interact-card btn-roll-card pointer-btn">
                                <i class="fa-solid fa-play"></i>
                            </div>

                            <div class="btn-interact-card btn-mix-card ml-2 pointer-btn">
                                <i class="fa-brands fa-mixer"></i>
                            </div>
                        </div>
                        <div class="interact-card__middle d-flex">
                            <div class="btn-interact-card btn-transfer-card pointer-btn">
                                <i class="fa-solid fa-arrow-left"></i>
                            </div>

                            <div class="btn-interact-card btn-transfer-card ml-2 pointer-btn">
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </div>
                        <div class="interact-card__right d-flex">
                            <div class="btn-interact-card btn-setting-card pointer-btn">
                                <i class="fa-solid fa-gear"></i>
                            </div>

                            <div class="btn-interact-card btn-fullscreen-card ml-2 pointer-btn">
                                <i class="fa-solid fa-expand"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="setPage-setDetailsInfo d-flex mt-3 justify-content-between">
                    <div class="setPageHeader">
                        <div class="setPageHeader-info d-flex">
                            <div class="setPageHeader-avatar">
                                <img style="border-radius: 50%; width: 60px;" class="setPageHeader-avatar--circle"
                                    src="/images/84628273_176159830277856_972693363922829312_n.jpg" alt="">
                            </div>

                            <div class="setPageHeader-createdBy align-self-end ml-1">
                                <div class="createddBy-text">
                                    Tạo bởi
                                </div>
                                <div class="createdBy-author">
                                    NVD1810
                                </div>
                            </div>
                        </div>

                        <div class="setPageHeader-perform">
                            đã thêm vào Toeic_P1
                        </div>
                    </div>

                    <div class="setPageOption d-flex">
                        <div class="setPageOption__btn-option pointer-btn">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                        <div class="setPageOption__btn-option pointer-btn">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </div>
                        <div class="setPageOption__btn-option pointer-btn">
                            <i class="fa-solid fa-share-from-square"></i>
                        </div>
                        <div class="setPageOption__btn-option pointer-btn">
                            <i class="fa-solid fa-ellipsis-vertical fa-rotate-90"></i>
                        </div>
                    </div>
                </div>

                <div class="all-card SetPage-terms">
                    <div class="SetPageTermsHeader d-flex justify-content-between">
                        <span class="SetPageTermsHeader-termsHeading">Thuật ngữ trong học phần này (9)</span>
                        <div class="setPageTermsHeader-arrange">
                            <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"
                                    aria-expanded="false">
                                    Thứ tự gốc
                                </button>
                                <div class="dropdown-menu">
                                    <button class="dropdown-item" type="button">Thứ tự gốc</button>
                                    <button class="dropdown-item" type="button">Bảng chử cái</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="SetPageTerms-termsList mt-3">
                        <div class="SetPageTerms-container">
                            <!-- Thẻ 1 -->
                            <div class="SetPageTerms-card">
                                <div class="term" >Thuật ngữ 1</div>
                                <div class="explain-term">
                                    <div class="definition mr-3">Giải thích thuật ngữ 1</div>
                                    <img class="SetPageTerms-image" src="/images/84628273_176159830277856_972693363922829312_n.jpg"
                                        alt="Hình ảnh">
                                </div>

                                <div class="SetPageTerms-setPageOption d-flex">
                                    <div class="setPageOption__btn-option pointer-btn mr-3">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </div>
                                    <div class="setPageOption__btn-option pointer-btn mr-3">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </div>
                                    <div class="setPageOption__btn-option pointer-btn">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="SetPageTerms-card">
                                <div class="term" >Thuật ngữ 1</div>
                                <div class="explain-term">
                                    <div class="definition mr-3">Giải thích thuật ngữ 1</div>
                                    <img class="SetPageTerms-image" src="/images/84628273_176159830277856_972693363922829312_n.jpg"
                                        alt="Hình ảnh">
                                </div>

                                <div class="SetPageTerms-setPageOption d-flex">
                                    <div class="setPageOption__btn-option pointer-btn mr-3">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </div>
                                    <div class="setPageOption__btn-option pointer-btn mr-3">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </div>
                                    <div class="setPageOption__btn-option pointer-btn">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="SetPageTerms-card">
                                <div class="term" >Thuật ngữ 1</div>
                                <div class="explain-term">
                                    <div class="definition mr-3">Giải thích thuật ngữ 1</div>
                                    <img class="SetPageTerms-image" src="/images/84628273_176159830277856_972693363922829312_n.jpg"
                                        alt="Hình ảnh">
                                </div>

                                <div class="SetPageTerms-setPageOption d-flex">
                                    <div class="setPageOption__btn-option pointer-btn mr-3">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </div>
                                    <div class="setPageOption__btn-option pointer-btn mr-3">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </div>
                                    <div class="setPageOption__btn-option pointer-btn">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </div>
                                </div>
                            </div>


                            <!-- Thêm các thẻ khác tương ứng với học phần -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="Dashboard-advertisement col-3">
                <img src="/images/2071251173145263698.gif" alt="">
            </div>
        </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>