<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap-4.0.0/bootstrap-4.0.0/dist/css/bootstrap.css">    
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="body-createCourse">
    <main class="container container-CreateCourse">
        <div class="CreateSetPage">
            <div class="CreateSetHeader">
                <div class="CreateSetHeader-heading">
                    <h2 class="CreateSetHeader-headingText">Tạo học phần mới</h2>
                    <div class="CreateSetHeader-headingOption d-flex justify-content-center align-items-center">
                        <button type="button" class="btn btn-info CreateSetHeader-btn-createCourse pointer-btn mr-3">Tạo</button>
                        <div class="CreateSetHeader-permissions pointer-btn">
                            <i class="fa-solid fa-gear"></i>
                        </div>
                    </div>
                </div>

                <div class="CreateSetHeader-TitleCourse">
                    <div class="CreateSetHeader-title">
                        <div class="mb-3">
                            <input type="textarea" maxlength="255" class="form-control AutoExpandTextarea-textarea" id="formGroupExampleInput"
                            placeholder="Thêm tiêu đề...">
                            <label for="formGroupExampleInput" class="form-label mt-2 lable-bottom-AutoExpandTextarea" >TIÊU ĐỀ</label>
                        </div>
                    </div>
                    <div class="CreateSetHeader-description">
                        <div class="mb-3">
                            <input type="textarea" tabindex="6" class="form-control AutoExpandTextarea-textarea" id="formGroupExampleInput"
                            placeholder="Thêm mô tả...">
                            <label for="formGroupExampleInput" class="form-label mt-2 lable-bottom-AutoExpandTextarea">MÔ TẢ</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="CreateSetPage-content">
                <div class="CreateSetPage-termRowWrap">
                    <div class="TermToolbar mb-3">
                        <span class="TermToolbar-counter">
                            1
                        </span>
                        <div class="TermToolbar-option">
                            <div class="TermToolbar-option__dragToggle mr-3 ">
                                <i class="fa-solid fa-grip-lines"></i>
                            </div>
                            <div class="TermToolbar-option__delete pointer-btn">
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </div>
                    </div>
                    <div class="TermContent-inner">
                        <div class="TermContent-inner-word">
                            <div class="mb-0">
                                <input type="textarea" tabindex="6" class="form-control AutoExpandTextarea-textarea" id="formGroupExampleInput"
                                placeholder="">
                                <label for="formGroupExampleInput" class="form-label mt-2 lable-bottom-AutoExpandTextarea">THUẬT NGỮ</label>
                            </div>
                        </div>
                        <div class="TermContent-inner-definition">
                            <div class="DefinitionSide">
                                <div class="DefinitionSide-text">
                                    <div class="mb-0">
                                        <input type="textarea" tabindex="6" class="form-control AutoExpandTextarea-textarea" id="formGroupExampleInput"
                                        placeholder="">
                                        <label for="formGroupExampleInput" class="form-label mt-2 lable-bottom-AutoExpandTextarea">ĐỊNH NGHĨA</label>
                                    </div>
                                </div>
                                <div class="DefinitionSide-image">
                                    <div class="ImageUploadComponent">
                                        <div class="imgUploadIcon pointer-btn">
                                            <i class="fa-solid fa-image"></i>
                                        </div>
                                        <span class="imgUploadContext">HÌNH ẢNH</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="CreateSetPage-termRowWrap">
                    <div class="TermToolbar mb-3">
                        <span class="TermToolbar-counter">
                            1
                        </span>
                        <div class="TermToolbar-option">
                            <div class="TermToolbar-option__dragToggle mr-3 ">
                                <i class="fa-solid fa-grip-lines"></i>
                            </div>
                            <div class="TermToolbar-option__delete pointer-btn">
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </div>
                    </div>
                    <div class="TermContent-inner">
                        <div class="TermContent-inner-word">
                            <div class="mb-0">
                                <input type="textarea" tabindex="6" class="form-control AutoExpandTextarea-textarea" id="formGroupExampleInput"
                                placeholder="">
                                <label for="formGroupExampleInput" class="form-label mt-2 lable-bottom-AutoExpandTextarea">THUẬT NGỮ</label>
                            </div>
                        </div>
                        <div class="TermContent-inner-definition">
                            <div class="DefinitionSide">
                                <div class="DefinitionSide-text">
                                    <div class="mb-0">
                                        <input type="textarea" tabindex="6" class="form-control AutoExpandTextarea-textarea" id="formGroupExampleInput"
                                        placeholder="">
                                        <label for="formGroupExampleInput" class="form-label mt-2 lable-bottom-AutoExpandTextarea">ĐỊNH NGHĨA</label>
                                    </div>
                                </div>
                                <div class="DefinitionSide-image">
                                    <div class="ImageUploadComponent">
                                        <div class="imgUploadIcon pointer-btn">
                                            <i class="fa-solid fa-image"></i>
                                        </div>
                                        <span class="imgUploadContext">HÌNH ẢNH</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="CreateSetPage-termRowWrap">
                    <div class="TermToolbar mb-3">
                        <span class="TermToolbar-counter">
                            1
                        </span>
                        <div class="TermToolbar-option">
                            <div class="TermToolbar-option__dragToggle mr-3 ">
                                <i class="fa-solid fa-grip-lines"></i>
                            </div>
                            <div class="TermToolbar-option__delete pointer-btn">
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </div>
                    </div>
                    <div class="TermContent-inner">
                        <div class="TermContent-inner-word">
                            <div class="mb-0">
                                <input type="textarea" tabindex="6" class="form-control AutoExpandTextarea-textarea" id="formGroupExampleInput"
                                placeholder="">
                                <label for="formGroupExampleInput" class="form-label mt-2 lable-bottom-AutoExpandTextarea">THUẬT NGỮ</label>
                            </div>
                        </div>
                        <div class="TermContent-inner-definition">
                            <div class="DefinitionSide">
                                <div class="DefinitionSide-text">
                                    <div class="mb-0">
                                        <input type="textarea" tabindex="6" class="form-control AutoExpandTextarea-textarea" id="formGroupExampleInput"
                                        placeholder="">
                                        <label for="formGroupExampleInput" class="form-label mt-2 lable-bottom-AutoExpandTextarea">ĐỊNH NGHĨA</label>
                                    </div>
                                </div>
                                <div class="DefinitionSide-image">
                                    <div class="ImageUploadComponent">
                                        <div class="imgUploadIcon pointer-btn">
                                            <i class="fa-solid fa-image"></i>
                                        </div>
                                        <span class="imgUploadContext">HÌNH ẢNH</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="CreateSetPage-termRowWrap">
                    <div class="TermContent-AddRow">
                        <button aria-label="+ Thêm thẻ" class="TermContent-addRowButton" type="button"><span>+ Thêm thẻ</span></button>
                    </div>
                </div>

                <div class="CreateSetPage-footer">
                    <button type="button" class="btn btn-primary btn-footer-CreateCourse">Tạo</button>
                </div>
            </div>
        </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>