<h1>Welcome</h1>
<input type="text" id="inputTest">
<button type="button" id="submitButton">Click</button>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.getElementById("inputTest").addEventListener("focusout", function () {
        console.log(1)
        $.ajax({
            url: '/data',
            method: 'POST',
            data: {
                arrTest: {
                    titleCourse: "valueCourseTitle",
                    Description: "valueCourseDescription",
                    permissionView: "selectViewPermission",
                    permissionEdit: {
                        permission: "selectEditPermission",
                        passwordPermission: "",
                        userEdit: {}
                    },
                    Cards: "listCards",
                    create: "",
                    updated: "",
                    owner: "",
                    autoSave: ""
                }
            },
            success: function (response) {
                // Handle the successful response

                console.log(11111);
            },
            error: function (xhr, status, error) {
                // Handle the error
                console.error('Request failed. Status:', status, 'Error:', error);
            }
        });
    })

    document.getElementById('submitButton').addEventListener('click', function () {
        var arrTest = []
        class Test {
          test = "";
          constructor(test) {
            this.test = test
          }
          getTest() {
            return this.test
          }
        }
  
        // var inputText = document.getElementById('inputTest1').value;
        console.log({ ...arrTest });
  
        var arr = [1, 2, 3, 4, 5];
        var obj = { ...arr };
        console.log(obj.length)
        console.log(obj);
        let course = {
          titleCourse: "valueCourseTitle",
          Description: "valueCourseDescription",
          permissionView: "selectViewPermission",
          permissionEdit: {
            permission: "selectEditPermission",
            passwordPermission: "",
            userEdit: {}
          },
          Cards: "listCards",
          create: "",
          updated: "",
          owner: "",
          autoSave: ""
        }
  
        //console.log('Giá trị của input:', inputText);
  
        // Gửi yêu cầu POST đến endpoint "/test" trên máy chủ Express
        $.ajax({
          url: '/test',
          method: 'POST',
          data: {
            arrTest: {
              titleCourse: "valueCourseTitle",
              Description: "valueCourseDescription",
              permissionView: "selectViewPermission",
              permissionEdit: {
                permission: "selectEditPermission",
                passwordPermission: "",
                userEdit: {}
              },
              Cards: "listCards",
              create: "",
              updated: "",
              owner: "",
              autoSave: ""
            }
          },
          success: function (response) {
            // Handle the successful response
  
            console.log(11111);
          },
          error: function (xhr, status, error) {
            // Handle the error
            console.error('Request failed. Status:', status, 'Error:', error);
          }
        });
        /*      fetch('/test', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({ arrTest: arrTest })
              })
                .then(response => {
                  // Xử lý phản hồi từ máy chủ
                  // Điều hướng hoặc xử lý dữ liệu trả về tùy ý
                  console.log('Phản hồi từ máy chủ:', response);
                })
                .catch(error => {
                  console.error('Lỗi:', error);
                });*/
      });
</script>