<!doctype html>
<html lang="en">

<head>
  <title>Home</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/stylesheets/bootstrap-4.0.0/bootstrap-4.0.0/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
  <div class="site">
    <%- include('parts/header') %>
      <div class="modal fade DropdownCreateDir-modal-lg DropdownCreate-modal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title DropdownCreate-Modal-title" id="exampleModalLongTitle">Tạo thư mục mới</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Nhập tiêu đề</label>
                  <input type="text" class="form-control AutoExpandTextarea-textarea" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Nhập mô tả tùy chọn</label>
                  <textarea class="form-control AutoExpandTextarea-textarea" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
              <button type="button" class="btn btn-primary">Tạo</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade DropdownCreateClass-modal-lg DropdownCreate-modal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title DropdownCreate-Modal-title" id="exampleModalLongTitle">Tạo lớp mới</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Nhập tên lớp (khóa học, giáo viên, năm nay, phần
                    vv)</label>
                  <input type="text" class="form-control AutoExpandTextarea-textarea" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Nhập mô tả (tùy chọn)</label>
                  <textarea class="form-control AutoExpandTextarea-textarea" id="message-text"></textarea>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="CoursePermission-Add-Delete">
                  <label class="form-check-label" for="CoursePermission-Add-Delete">
                    Cho phép các thành viên trong lớp thêm và bỏ học phần
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="Permission-AddMembers">
                  <label class="form-check-label" for="Permission-AddMembers">
                    Cho phép các thành viên trong lớp mời thành viên mới
                  </label>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
              <button type="button" class="btn btn-primary">Tạo</button>
            </div>
          </div>
        </div>
      </div>

      <main class="page">
        <div class="DashboardLayout">
          <div class="Dashboard-main col-9">
            <div class="dashboard-main__achievement">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color: rgb(246, 247, 251);">
                  <li class="breadcrumb-item active" aria-current="page"><b>Thành tựu</b></li>
                </ol>
              </nav>
              <div class="card mb-3">
                <div class="row no-gutters">
                  <div class="col-md-7 d-flex flex-row">
                    <div class="col-4">
                      <img src="/images/streak-Week.svg" alt="...">
                    </div>
                    <div class="col-8 dash-series">
                      <h1 class="dash__title-series">
                        Chuỗi 1 tuần
                      </h1>
                      <p class="dash__remind">
                        Hãy học vào <b>tuần tới</b> để duy trì chuỗi của bạn!
                      </p>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="card-body">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">S</th>
                            <th scope="col">M</th>
                            <th scope="col">T</th>
                            <th scope="col">W</th>
                            <th scope="col">T</th>
                            <th scope="col">F</th>
                            <th scope="col">S</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>7</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="dashboard-main__recent">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color: rgb(246, 247, 251);">
                  <li class="breadcrumb-item active" aria-current="page"><b>Gần đây</b></li>
                </ol>
              </nav>

              <!-- a row -->
              <div class="db-m__recent-row row d-flex justify-content-between">
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is another card with title and supporting text below. This card has some
                        additional content to make it slightly taller overall.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is another card with title and supporting text below. This card has some
                        additional content to make it slightly taller overall.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is another card with title and supporting text below. This card has some
                        additional content to make it slightly taller overall.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- a row -->
              <div class="db-m__recent-row row d-flex justify-content-between mt-2">
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is another card with title and supporting text below. This card has some
                        additional content to make it slightly taller overall.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is another card with title and supporting text below. This card has some
                        additional content to make it slightly taller overall.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is another card with title and supporting text below. This card has some
                        additional content to make it slightly taller overall.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="dashboard-main__recent">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color: rgb(246, 247, 251);">
                  <li class="breadcrumb-item active" aria-current="page"><b>Gần đây</b></li>
                </ol>
              </nav>

              <!-- a row -->
              <div class="db-m__recent-row row d-flex justify-content-between">
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is another card with title and supporting text below. This card has some
                        additional content to make it slightly taller overall.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is another card with title and supporting text below. This card has some
                        additional content to make it slightly taller overall.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is another card with title and supporting text below. This card has some
                        additional content to make it slightly taller overall.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- a row -->
              <div class="db-m__recent-row row d-flex justify-content-between mt-2">
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is another card with title and supporting text below. This card has some
                        additional content to make it slightly taller overall.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is another card with title and supporting text below. This card has some
                        additional content to make it slightly taller overall.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is another card with title and supporting text below. This card has some
                        additional content to make it slightly taller overall.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="Dashboard-advertisement col-3">
            <img src="/images/2071251173145263698.gif" alt="">
          </div>
        </div>
      </main>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>